<aside class="sidebar" [class.collapsed]="collapsed">
    <div class="d-flex justify-content-center align-items-center text-white py-3">
         @if (!collapsed) {
       <h3>Admin Page</h3>
     } @else {
        <i class="bi bi-shop"></i>
     }
    </div>
    <ul class="sidebar-list text-white">
        @for (menu of sidebarMenu; track menu.label) {
        <li [class.expanded]="menu.expanded">
            <div class="sidebar-item py-2" (click)="onMenuClick(menu)">
                <i [class]="menu.icon"></i>
                @if (!collapsed) {
                <span class="label">{{ menu.label }}</span>
                }
                @if (menu.children?.length && !collapsed) {
                @if (menu.expanded) {
                <i class="bi bi-chevron-up expand-icon"></i>
                } @else {
                <i class="bi bi-chevron-down expand-icon"></i>
                }

                }
            </div>
            @if (menu.children?.length && menu.expanded && !collapsed) {
            <ul class="sidebar-sublist">
                @for (child of menu.children; track child.label) {
                <li>
                    <a [routerLink]="child.route" routerLinkActive="active"
                     class="text-decoration-none text-white">
                        <i [class]="child.icon"></i>
                        {{ child.label }}

                    </a>
                </li>
                }
            </ul>
            }
        </li>
        }
    </ul>
</aside>