.sidebar {
  width: 240px;
  transition: width 0.3s ease;
  height: 100vh;
  background-color: rgba(57, 67, 109, 0.88);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  ul {
    list-style: none;
  }
  
  .sidebar-list {
    .sidebar-item {
       display: flex;
       gap: 15px;    
    }
  }
}

.sidebar.collapsed {
  width: 70px;
}
